# Default ignored files
/../../../CLionProjects/progetto_so/.idea/shelf/
/../../../CLionProjects/progetto_so/.idea/workspace.xml
# Datasource local storage ignored files
/../../../CLionProjects/progetto_so/.idea/dataSources/
/../../../CLionProjects/progetto_so/.idea/dataSources.local.xml
